.ib{
    text-align: center;
    font-size: 50px;
}

.sosial{
    text-align: center;
    font-size: 20px;
}


.y{
text-align: left 10px;
background-color: black;
color: azure;
font-size: 18px;
padding: 10px;


}

.b{
text-align: center;
background-color: aqua;
font-size: 30px;
padding: 10px;
}